body:hover {
	background: linear-gradient(70deg, #000000, #7e3e57, #70d143, #b723d5);
	background-size: 300%, 300%;
	animation: gradient 5s ease ease reverse infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

}

.center {
    display: block;
    margin: auto;
    width: 50vw;
    position: relative;
  }



   






